body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--color-letra-principal);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  padding: 1rem 0; 
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg,var(--color-principal),#e6e6e6);
}

.header,
.footer {
  background-color: var(--color-principal);
  padding: .5rem 0;
}

.container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}
