body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkslateblue;
  /*background-color: darkgoldenrod;*/
}

.header,
.footer {
    background-color: darkslateblue;
}